*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    color: #00000072;
}
.container{
    margin: 0 auto;
     width: 1300px;
     background-color: #F2CEDA;
    
}
nav{
    padding-top: 35px;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}
.controll{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}
.buy{
    width: 165px;
    height: 49px;
    background-color:  #D23166;
    border-radius: 7px;
    margin-top: 20px;
    border: none;
    color: white;
}
h2{
   font-size: 60px;
   width: 600px;
}
.card{
    display: flex;
    align-items: center;
    background-color: #F2CEDA;
}
.imgs{
    padding-left: 25px;
    margin-top: 100px;
}
.site{
    width: 1300px;
    margin: 0 auto;
}
.delivery {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 39px;
}
.deli-textbox1{
    margin-top: 100px;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.134);
    border-radius: 2px;
   height: 200px;

}
.deli-textbox1 img{
    margin-top: 50px;
}
.deli-textbox1 h3{
    margin-top: 24px;
    font-size: 20px;
    font-weight: 600;
}
.deli-textbox1 p{
    margin-top: 9px;
    
}