*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
     width: 1300px;
     background-color: #F2CEDA;
    
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}
.controll{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}
.buy{
    width: 165px;
    height: 49px;
    background-color:  #D23166;
    border-radius: 7px;
    margin-top: 20px;
    border: none;
    color: white;
}